nav.navbar.navbar-default(role="navigation")
	.navbar-header
		a.navbar-brand(href="/") FUAT TATAR
	.navbar-collapse.collapse
		ul.nav.navbar-nav
			li
				a(href="/") Ana Sayfa
			li
				a(href="/Iletisim") İletişim
			li
				a(href="/Hakkimda") Hakkımda
		ul.nav.navbar-nav.navbar-right