nav.navbar.navbar-custom(role="navigation")
	.navbar-header
		a.navbar-brand(href="/") fuattatar.com
		ul.nav.navbar-nav
			li
				a(href="/") Ana Sayfa
			li
				a(href="/Iletisim") İletişim
			li
				a(href="/Hakkimda") Hakkımda
		ul.nav.navbar-nav.navbar-right