ul:before{
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
    margin-left:-15px;
}
#commentemail{
	color:#046380;
	font-weight: bold;
}
#commentcontent{
	color:#002F2F;
}

.well,li{
	background-color: #046380;
	color:white;
	
}
.well p{
	color:white !important;
}
ul li a{
	color:white !important;
}
