body{
	background-color: white;
}
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -35px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 35px;
  padding: 5px;
  background-color: #046380;
}
#footertext{
  color:#EFECCA;
}

.navbar-custom {
    background-color:#046380;
    color:#EFECCA;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#E6E2AF;
    
}

.navbar-custom .navbar-nav > li > a:hover {
    color:#E6E2AF;
    background-color: #002F2F;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: red;
    background-color:red;
}
.navbar-custom .navbar-brand {
    color:#EFECCA;
}
