.well{
	margin-top:5px;
	padding:10px !important;
}

.alert-info{
	margin-top:3%;
}
#notifyspan a:hover, a{
color:white;
}

.well-admin{
	background-color: #002F2F;
	color:white;
	padding: 0 0 0 3px;
}