extends ../../../views/bloglayout
block content
	.container
		.row
			p Şu sıralar Node.js ile ilgilenen bir developer.
			ul
				li
					a(href="https://www.facebook.com/fuat.tatar1") Facebook Sayfam
				li
					a(href="http://www.linkedin.com/pub/fuat-tatar/59/56a/426") Linkedin Sayfam