extends ../../../views/bloglayout
block content
	.row
		.col-sm-offset-3.col-sm-6
			form.well(method="post")
				legend İletişime Geç
					.control-group
						.controls
							input.form-control(type="text",name="name",placeholder="İsim",data-validation-required-message="Lütfen isminizi giriniz.")
					.control-group
						.controls
							input.form-control(type="email",name="email",placeholder="E-posta",data-validation-required-message="Lütfen eposta adresinizi giriniz.")					
					.control-group
						.controls
							textarea.form-control(name="text",rows="10",cols="100",placeholder="Mesaj",data-validation-required-message="Lütfen mesajınızı giriniz",minlength="5",data-validation-minlength-message="Minimum 5 karakter girmelisiniz",maxlength="999",style="resize:none;")
					-if(error)
						.alert.alert-success=error
					button.btn.btn-primary.pull-right.btn-block(type='submit') GÖNDER