extends ../../../views/management/managementlayout
block content
	.row
		.col-md-12
			.row
				.col-md-4
					.well
						h4 Popüler Gönderiler
						ul
							li Visual Studio ile git kullanımı(20 Okunma)
							li Visual Studio ile git kullanımı(20 Okunma)
							li Visual Studio ile git kullanımı(20 Okunma)
							li Visual Studio ile git kullanımı(20 Okunma)
							li Visual Studio ile git kullanımı(20 Okunma)
							li Visual Studio ile git kullanımı(20 Okunma)
							li Visual Studio ile git kullanımı(20 Okunma)
				.col-md-4
					.well
						h4 Popüler Yorumlar
						ul
							li çok faydalı bir yazı olmuş
							li Teşekkürrrr.
							li Eyv kardeşim çok makbule geçti
							li Eyv kardeşim çok makbule geçti
							li Eyv kardeşim çok makbule geçti
							li Eyv kardeşim çok makbule geçti
							li Eyv kardeşim çok makbule geçti
				.col-md-4
					.well
						h4 Misafir Bilgileri
						ul
							li Şuan Online Sayısı:32
							li Bu Gün Toplam:324
							li Bu Ay Toplam:4345
							li Gelmiş Geçmiş:87865		
			.row
				.col-md-4
					.well
						h4 Dost Siteler Online Durumu
						ul
							li forumdonanim.com:Aktif
							li fb.com:Pasif
							li mengukan.com:Aktif
							li adiyamanhaberler:Aktif