extends ../../../views/management/managementlayout
block content
	.row
		.col-md-12
			ol.breadcrumb
				li
					a(href="/Management/PageRank") Page Rank

			p 
				u Page Rank Değeriniz:#{pagerank}
				
